body {
  color: greenyellow;
}

h1 {
  color: goldenrod;
}

.quote {
  color: peru;
}

.quote.narrator {
  color: blanchedalmond;
}

#intro p {
  color: peachpuff;
}

.super-important-omg {
  font-size: 20px;
  background-color: yellow;
}
